<div class="my-apps-container">
    <div class="module-list-container mt-4">
      <h4 class="section-title">
         My Apps 
      </h4>
      <div class="module-list">
        <div class="single-module" routerLink="/task">
            <div class="module-icon-holder quick-select">
                <span class="module-icon">
                  <i class=""></i>
                </span>
              </div>
          <span class="module-title" title="ModuleTitle"> Task</span>
        </div>
      </div>
    </div>
  </div>
